.banner{
    background-image: url("../img/banner-bg.jpg");
    .txt{
        color: white;
        width: 50%;
        button{
            background-color: rgb(242,116,95);
            color: white;
            border: none;
            border-radius: 3%;
        }
    }
}

// media banner

@media (max-width : 420px){
    h2{
        font-size : 20px
    }
}
@media ( max-width:640px){
    .banner{
        .txt{
            p{
                display: none;
            }
        }
    }
}